# APP
SERVER_PORT=8080

# DB
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=

# JWT
JWT_SECRET=super-secret-key

# ACCOUNT
ADMIN_EMAIL=''
ADMIN_PASSWORD=''
AGENT_EMAIL=''
AGENT_PASSWORD=''

# CORS
ALLOWED_ORIGINS="http://127.0.0.1:5173"
ALLOW_CREDENTIALS=true
ALLOWED_METHODS="GET,POST,PUT,PATCH,DELETE,OPTIONS"
ALLOWED_HEADERS="Origin,Content-Type,Accept,Authorization,X-API-Key"
EXPOSED_HEADERS="Content-Length"
MAX_AGE=43200 # 12 hours